@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  src: url("../fonts/SFPRO.ttf") format('truetype');
}

html {
  height: 100%;

  ::-webkit-scrollbar {
    display: none
  }
}

body, #root {

  * {
    font-family: 'SF-Pro', serif !important;
    font-size: 15px;
  }

  background-color: #121212 !important;
  color: white;
  min-height: 100%
}

a {
  text-decoration: none;
  cursor: pointer;
}
